.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  min-width: 0;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
